body {
    display: grid;
    grid-template-columns: 0.68fr 4fr;
    /* height: 100vh; */
    margin: 0;
    background-color: #f8f9fb;
    font-family: 'Montserrat', sans-serif;
}

.right {
    display: grid;
    grid-template-rows: 0.6fr 5fr;
}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18181B;
    color: white;
    font-family: 'Monsterrat', sans-serif;
    font-size: larger;
}

.dash-ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top {
    display: flex;
}

.bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.four-hundred {
    font-weight: 400;
}

.reel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-centered {
    margin-right: 40px;
}

#trend-word {
    margin-right: 127px;
}

ul {
    list-style: none;
    padding: 0;
}

.announce, .trending {
    height: 400px;
    width: 85%;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#second {
    margin-right: 32px;
}

.nav {
    height: 70px;
    width: 97%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-family: 'Monsterrat', sans-serif;
}

.options {
    display: flex;
    align-items: center;
}

.nav ul {
    margin-left: 20px;
    display: flex;
    gap: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

#bell {
    height: 25px;
    width: 25px;
}

#eye {
    height: 40px;
    width: 40px;
}